<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="DriverName" value="Chrome" />
      <add key="URL" value="https://www.skanetrafiken.se/" />
      <add key="Wait" value="30" />
      <add key="myConnectionString" value="Data Source=SELI130583\SQLEXPRESS;Initial Catalog=LocalDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" />
      </appSettings>
</configuration>