<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="DriverName" value="Chrome" />
      <add key="URL" value="https://www.skanetrafiken.se/" />
      <add key="Wait" value="30" />
    
    </appSettings>
<connectionStrings> 
  <add name="myConnectionString"
       providerName="System.Data.Sqlclient"
       connectionString="Data Source=SELI130583\SQLEXPRESS;Initial Catalog=LocalDB;Integrated Security=True" />
</connectionStrings>
</configuration>