<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!-- 
      Configure Selenium 
    -->
      <!--
      Choose on of the following drivers:
      InternetExplorer
      Chrome
      Firefox
    -->
      <add key="DriverName" value="Chrome" />
      <add key="URL" value="https://www.skanetrafiken.se/" />
      <add key="Wait" value="30" />
    </appSettings>
</configuration>