<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Myconnection"
         providerName="System.Data.Sqlclient"
         connectionString="Data Source=SELI130583\SQLEXPRESS;Initial Catalog=LocalDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" />
  </connectionStrings>
</configuration>